

header{
    padding: 50px;
    display: flex;
    width: 100%;
    margin-bottom: 80px;
}
.header-title{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
}
.p1{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
main{
    padding: 50px;
    margin-bottom: 50px;
}
section{
    display: flex;
    margin-bottom: 200px;
}
.email{
    width: 50%;
}
.pngemail{
    width: 50%;
}
.input{
    width: 250px;
    border: 1px solid black;
    border-top: 2px solid rgb(212, 202, 182);
    padding: 8px;;
}
.btn{
    padding: 8px;
    width: 150px;
    border-radius: 3px;
    margin-left: 15px;
}
.tit1{
    margin-bottom: 20px;
    font-family: "Londrina Sketch", serif;
    font-weight: 400;
    font-style: normal;
}
p{
    margin-bottom: 20px;
}
article{
    display: flex;
}
.divarticle{
    width: 50%;
}
.article-img{
    width: 50%;
}
.comment{
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 5px 5px  rgb(226, 221, 221);
    margin-top: 40px;
}
.profil{
    width: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.perssone-comment{
    display: flex;
}
.comma{
    width: 30px;
}
span{
    border-bottom: 3px solid #058E45;
    padding-bottom: 10px;
}
.p2{
    text-decoration: none;
    color: black;
    color: #058E45; 
}
.img-art{
    width: 100%;
}
aside{
    background-color: rgb(115, 99, 175);
    padding: 50px;
    display: flex;
}
.aside-title{
    width: 50%;
    padding: 20px;
    
}
.aside-form{
    width: 50%;
    padding: 20px;
}
.btn-1{
    font-size: 10px;
    width: 120px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    color: white;
    margin-top: 10px;
    background-color: #007BFF;
}
.form-control{
    width: 350px;
    border-radius: 3px;
}
.color{
    color: white;
}
footer{
    padding: 50px;
    color: white;
    background-color: #0C084C;
}
.foot-title{
    display: flex;
    align-items: center;
}
.foot-main{
    display: flex;
    width: 100%;
}
.foot1{
    padding: 5px;
    flex-grow: 1;
}
.foot2{
    padding: 5px;
    flex-grow: 1;
}
.foot3{
    padding: 5px;
    flex-grow: 1;
}
.foot4{
    padding: 5px;
    flex-grow: 1;
}
.phone{
    display: flex;
}
.img-ph{
    width: 25px;
    height: 25px;
    margin-right: 5px
}
.mail{
    display: flex;
}
.img-ma{
    width: 25px;
    height: 25px;
    margin-right: 5px
}
.foot2 a{
    text-decoration: none;
    color: white;
}
.foot3 a{
    text-decoration: none;
    color: white;
}
h1{
    font-size: 50px;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}
.logo{
    width: 50px;
    height: 50px;
}
li{
    margin-bottom: 8px;
}